* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --text-primary: #e95400;
}

body {
    font-family: Mukta, sans-serif;
    font-weight: 400;
    font-size: 1.66rem;
    display: flex;
    flex-direction: column;
}

hr {
    width: 100%;
    border: 1px solid gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Bitter, sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 8rem;
    font-weight: 400;
    letter-spacing: -1.5px;
}

h2 {
    font-size: 5rem;
    letter-spacing: -0.5px;
}

.hero {
    width: 100vw;
    height: 100vh;
    background-color: #863ae8;
    color: white;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.hero div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.hero p {
    text-align: center;
    word-spacing: 1px;
    font-weight: 400;
    color: #dfd8c9;
    text-shadow: 0px 0px 5px #dfd8c9;
}

.hero hr {
    margin-top: 16px;
    box-shadow: -2px 0px 20px rgb(66, 66, 66);
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog--title {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-family: serif;
    padding: 48px 0;
    font-family: Bitter, serif;
}

.blog--title span {
    font-weight: 600;
    color: var(--text-primary);
}

section {
    width: 50%;
}