* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --text-primary: #e95400;
    --primary: #e95400;
    --bg: #863ae8;
}

body {
    font-family: Mukta, sans-serif;
    font-weight: 400;
    font-size: 1.66rem;
    display: flex;
    flex-direction: column;
}

hr {
    width: 100%;
    border: 1px solid gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Bitter, sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 8rem;
    font-weight: 400;
    letter-spacing: -1.5px;
}

h2 {
    font-size: 5rem;
    letter-spacing: -0.5px;
}

h3 {
    font-size: 3.8rem;
    letter-spacing: 0;
}

h4 {
    font-size: 3rem;
    letter-spacing: 0.25px;
}

h5 {
    font-size: 2.4rem;
    letter-spacing: 0.25px;
}

h6 {
    font-size: 2rem;
    letter-spacing: 0.25px;
}

code {
    color: var(--text-primary);
    font-weight: bold;
}

p:not(.headline) code {
    font-size: 1.6rem;
}

.hero {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
    color: white;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.hero div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.hero p {
    text-align: center;
    word-spacing: 1px;
    font-weight: 400;
    color: #dfd8c9;
    text-shadow: 0px 0px 5px #dfd8c9;
}

.hero hr {
    margin-top: 16px;
    box-shadow: -2px 0px 20px rgb(66, 66, 66);
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog--title {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-family: serif;
    padding: 48px 0;
    font-family: Bitter, serif;
}

.blog--title span {
    font-weight: 600;
    color: var(--text-primary);
}

section {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

section ~ section {
    padding-top: 32px;
    gap: 48px;
}

.headline {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
}

article {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.quote {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 8px 0 24px 32px;
    border-left: 2px solid var(--primary);
    /* border-radius: 3px; */
    padding: 4px 0 4px 16px;
    font-size: 1.3rem;
    font-style: italic;
    letter-spacing: 1px;
    position: relative;
}

.quote cite {
    font-weight: 600;
    font-size: 1.44rem;
    letter-spacing: normal;
    padding-left: 24px;
}

footer {
    background-color: var(--bg);
    margin-top: 48px;
    padding: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid purple;
}

footer ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 32px;
}

footer ul li a:link,
footer ul li a:visited,
footer ul li a:active {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}